/*001*/
body {
   font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
   line-height: 1.8;
   color: #818181;
 }
 /*001*/
header{
  margin-bottom: 40px;
   color:white;
   text-transform: uppercase;
   padding: 200px 10px;
   text-align: center;

 }
/*001*/
 main{
   padding: 20px 25px;
    background-color: antiquewhite;
    text-align: justify; 
   
    margin-left: 100px;
    margin-right: 100px;
   
 }
 /*002*/
 h2, h3 {
   color: #194861;
   text-transform:uppercase;
   text-align: center;

 }

 
 /*001*/
 p{
    color: #1c1c1c;
    text-indent: 30px;
    text-align: justify;
  
 }
  /*001*/
 footer{
  background-color: blanchedalmond;
 }
 

 /*Especificidad: a=0 b=0 c=1 1*/
 dt{
  font-size: 1.1em;
  color: black;
  text-align: left;
}
/*Especificidad: a=0 b=0 c=1 1*/
dd{
  margin-bottom: 30px;
 
  
}















   