/*001*/
nav {
    margin-left: 0%;
    margin-bottom: 40vh;
    top: 0;
    margin-right: 0%;
    background: black;
    margin: 0%;
    padding: 5px;
    color: white;
    position: fixed; 
    width: 100%;
  }
  
  /*003*/
  nav ul li {
    display: inline;
    padding: 15px;
  }
  
  /*004*/
  nav ul li a{
    color: white;
    text-decoration: none;
  }
  /*010*/
  .active {
    color: rgb(255, 238, 0);
  }
  
  