/*Especificidad: a=0 b=0 c=1 1*/
html {
    background: url(multimedia/cast.jpg) no-repeat center fixed; 
    background-size: cover;
}

img{
    height: 200px;
    align-items: center;
    position:relative;
    margin-left: 40px;   
}
header{
    text-shadow: black;
    
}
 
