/*001*/
html {
    background: url(multimedia/future.jpg) no-repeat top fixed; 
    background-size: cover;
}




/*001*/
img{
    height: 300px;
    align-items: center;
    position:relative;
    margin-left: 40px;
    
   
}


